<ion-view title="Edit" id="page4">
  <ion-content padding="true" class="has-header">
    <div id="edit-button-bar3" class="button-bar">
      <a ui-sref="view" id="edit-button12" style="border-radius:0px 0px 0px 0px;" class="button button-positive  icon-left ion-pie-graph">View</a>
      <a ui-sref="detail" id="edit-button13" style="border-radius:0px 0px 0px 0px;" class="button button-positive  icon-left ion-android-desktop">Detail</a>
      <button id="edit-button14" style="border-radius:0px 0px 0px 0px;" class="button button-dark  icon-left ion-edit">Edit</button>
    </div>
    <div class="list card" id="edit-card23"></div>
    <h1 id="edit-heading4" style="color:#000000;"></h1>
    <div class="list card" id="edit-card25">
      <h4 id="edit-heading5" style="color:#000000;text-align:center;">Add New Rack</h4>
      <form id="edit-form7" class="list">
        <label class="item item-input" id="edit-input3">
          <span class="input-label">Name:</span>
          <input type="text" placeholder="Name">
        </label>
        <label class="item item-input" id="edit-input4">
          <span class="input-label">Front sensor ID:</span>
          <input type="text" placeholder="ID">
        </label>
        <label class="item item-input" id="edit-input6">
          <span class="input-label">Back sensor ID:</span>
          <input type="text" placeholder="ID">
        </label>
        <button id="edit-button15" class="button button-positive  button-block">Add</button>
      </form>
    </div>
  </ion-content>
</ion-view>