<ion-view title="Login" id="page3">
  <ion-content padding="true" class="has-header" ng-controller="LineCtrl">
    <h2 id="login-heading3" style="color:#000000;font-weight:400;text-align:center;" class="myFont3">Data Center KKU</h2>
    <div>
      <img src="img/jH5V1DMTLzNlblhOGMAz_WyRAq31o.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="login-form3" class="list">
      <ion-list id="login-list3">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Username</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="view" id="login-button10" class="button button-stable  button-block">Log in</a>
      <a href="#" onclick="window.open('/signup', '_system', 'location=yes'); return false;" id="login-button11" class="button button-positive  button-block button-clear">Or create an account</a>
    </form>
    <div id="clock" class="light">
	<div class="display">
		<div class="weekdays"></div>
		<div class="ampm"></div>
		<div class="alarm"></div>
		<div class="digits"></div>
	</div>
  <div class="zero">
	<span class="d1"></span>
	<span class="d2"></span>
	<span class="d3"></span>
	<span class="d4"></span>
	<span class="d5"></span>
	<span class="d6"></span>
	<span class="d7"></span>
</div>
 
  
  </ion-content>

</ion-view>