<ion-view title="View" id="page1">
  <ion-content padding="true" class="has-header">
    <div id="view-button-bar1" class="button-bar">
      <button id="view-button4" style="border-radius:0px 0px 0px 0px;" class="button button-dark  icon-left ion-pie-graph">View</button>
      <a ui-sref="detail" id="view-button5" style="border-radius:0px 0px 0px 0px;" class="button button-positive  icon-left ion-android-desktop">Detail</a>
      <a ui-sref="edit" id="view-button6" style="border-radius:0px 0px 0px 0px;" class="button button-positive  icon-left ion-edit">Edit</a>
    </div>
    <h1 id="view-heading1" style="color:#000000;text-align:center;">Overview</h1>
     <div class="row">
   <div class="col">
  <div class="row "><button ui-sref="detail" class="button button-dark" >
  RACK-01
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-02
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-03
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-04
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-05
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-06
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-07
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-08
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-09
</button>
</div>
</div>
      <div class="col">
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-10
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-11
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-12
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-13
</button></div>
  <div class="row"><button ui-sref="detail" class="button button-dark">
  RACK-14
</button></div>
  <div class="row"><button  class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button>
</div>
</div>   <div class="col">
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
 -
</button></div>
  <div class="row"><button class="button button-dark">
 -
</button></div>
  <div class="row"><button class="button button-dark">
 -
</button></div>
  <div class="row"><button class="button button-dark">
 -
</button></div>
  <div class="row"><button class="button button-dark">
 -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button>
</div>
</div>   <div class="col">
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
 -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button>
</div>
</div>   <div class="col">
  <div class="row"><button class="button button-dark">
 -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button>
</div>
</div>   <div class="col">
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button>
</div>
</div>   <div class="col">
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button></div>
  <div class="row"><button class="button button-dark">
  -
</button>
</div>
</div>
</div>
  </ion-content>
</ion-view>